@import '../styles.scss';

.MainDiv{
	height:calc(100vh - con(112));
	@media(max-width:1600px){
		height:calc(100vh - c(112, 1600));
	}
	// @media(max-width:1440px){
	// 	height:calc(100vh - c(112, 1440));
	// }
}
.DashboardContainer{
	height:calc(100vh - con(112));
	background-color:#F2F2F2;
	@media(max-width:1600px){
		height:calc(100vh - c(112, 1600));
	}
	// @media(max-width:1440px){
	// 	height:calc(100vh - c(112, 1440));
	// }
}
.NotificationDiv{
	width:con(407);
	background-color:$light_blue;
	height:calc(100vh - con(112));
	@media(max-width:1600px){
		width:c(407, 1600);
		height:calc(100vh - c(112, 1600));
	}
	// @media(max-width:1440px){
	// 	width:c(407, 1440);
	// 	height:calc(100vh - c(112, 1440));
	// }
}