@import '../styles.scss';

.SidebarItemContainer{
    width:100%;
    height:con(60);
    border-left:con(6) solid transparent;
    margin-top:con(4);
    transition:all 0.2s linear;
    @media(max-width:1600px){
        height:c(60, 1600);
        border-left:c(6, 1600) solid transparent;
        margin-top:c(4, 1600);
    }
    &:hover{
        .Title{
            font-size:con(18);
            line-height:con(19.8);
            font-weight:600;
        }
        img{
            width:con(28);
        }
    }
    // @media(max-width:1440px){
    //     height:c(64, 1440);
    // }
}
.MinSidebarItem{
    padding-left:0px;
    width:con(78);
    @media(max-width:1600px){
        width:c(78, 1600);
    }
    // @media(max-width:1440px){
    //     width:c(62, 1440);
    // }
}
.Active{
    background-color:rgba(207, 235, 254, 0.1);
    height:con(60);
    border-left-color:$blue;
    @media(max-width:1600px){
        height:c(60, 1600);
    }
    img{
        width:con(28);
    }
    // @media(max-width:1440px){
    //     height:c(60, 1440);
    // }
}
.IconDiv{
    width:con(64);
    margin-left:con(14);
    @media(max-width:1600px){
        width:c(64, 1600);
        margin-left:c(14, 1600);
    }
    // @media(max-width:1440px){
    //     width:c(64, 1440);
    // }
    img{
        width:con(24);
        transition:all 0.2s linear;
        @media(max-width:1600px){
            width:c(24, 1600);
        }
        // @media(max-width:1440px){
        //     width:c(24, 1440);
        // }
    }
}
.Title{
    font-size:con(16);
    color:$black;
    letter-spacing:con(0.32);
    line-height:con(17.6);
    transition:all 0.2s linear;
    @media(max-width:1600px){
        font-size:c(16, 1600);
        line-height:c(0.32, 1600);
        line-height:c(17.6, 1600);
    }
    // @media(max-width:1440px){
    //     font-size:c(16, 1440);
    //     line-height:c(17.6, 1440);
    // }
}
.TitleActive{
    font-size:con(18);
    line-height:con(19.8);
    font-weight:500;
    color:$blue;
}
.NotificationDot{
    width:con(44);
    top:0;
    left:70%;
}