@import '../styles.scss';

.EStoreProductCardContainer{
	width:con(384);
	padding:con(5);
	border-radius:con(15);
	box-shadow:0px 9.57031px 19.1406px rgba(0, 0, 0, 0.04), 0px 1.91406px 5.74219px rgba(0, 0, 0, 0.04), 0px 0px 0.957031px rgba(0, 0, 0, 0.04);
	@media(max-width:1600px){
		width:c(384, 1600);
		padding:c(5, 1600);
		border-radius:c(15, 1600);
	}
	// @media(max-width:1440px){
	// 	width:c(384, 1440);
	// 	padding:c(5, 1440);
	// 	border-radius:c(15, 1440);
	// }
}
.LessLabel{
	background:-webkit-linear-gradient(top, #EB5757, #FFFFFF);
}
.MediumLabel{
	background:-webkit-linear-gradient(top, #FFC501, #FFFFFF);
}
.HighLabel{
	background:-webkit-linear-gradient(top, #27AE60, #FFFFFF);
}
.EStoreProductCard{
	background-color:white;
	border-radius:con(10);
	padding:0px con(12);
	@media(max-width:1600px){
		border-radius:c(10, 1600);
		padding:0px c(12, 1600);
	}
	// @media(max-width:1440px){
	// 	border-radius:c(10, 1440);
	// 	padding:0px c(12, 1440);
	// }
}
.CardHeader{
	padding:con(14) 0px;
	@media(max-width:1600px){
		padding:c(14, 1600) 0px;
	}
	// @media(max-width:1440px){
	// 	padding:c(14, 1440) 0px;
	// }
	.ProductNameDiv{
		margin-left:con(7);
		@media(max-width:1600px){
			margin-left:c(7, 1600);
		}
		// @media(max-width:1440px){
		// 	margin-left:c(7, 1440);
		// }
		h2{
			font-size:con(19);
			font-weight:500;
			@media(max-width:1600px){
				font-size:c(19, 1600);
			}
			// @media(max-width:1440px){
			// 	font-size:c(19, 1440);
			// }
		}
	}
	.StockButtonDiv{
		margin-right:con(10);
		@media(max-width:1600px){
			margin-right:c(10, 1600);
		}
		// @media(max-width:1440px){
		// 	margin-right:c(10, 1440);
		// }
		button{
			background-color:$light_orange;
			border-radius:con(30);
			color:$orange;
			padding:0px con(12);
			height:con(24);
			font-size:con(13);
			@media(max-width:1600px){
				padding:0px c(12, 1600);
				height:c(24, 1600);
				font-size:c(13, 1600);
			}
			// @media(max-width:1440px){
			// 	padding:0px c(12, 1440);
			// 	height:c(24, 1440);
			// 	font-size:c(13, 1440);
			// }
			p{
				font-size:con(13.4);
				line-height:con(14.74);
				margin-left:con(8);
				font-weight:500;
				@media(max-width:1600px){
					font-size:c(13.4, 1600);
					line-height:c(14.74, 1600);
					margin-left:c(8, 1600);
				}
				// @media(max-width:1440px){
				// 	margin-left:c(8, 1440);
				// }
			}
			img{
				width:con(15.31);
				@media(max-width:1600px){
					width:c(15.31, 1600);
				}
				// @media(max-width:1440px){
				// 	width:c(9, 1440);
				// }
			}
		}
	}
	.ProductStatus{
		img{
			width:con(24);
			@media(max-width:1600px){
				width:c(24, 1600);
			}
			// @media(max-width:1440px){
			// 	width:c(24, 1440);
			// }
		}
	}
	.MenuDiv{
		img{
			width:con(24);
			@media(max-width:1600px){
				width:c(24, 1600);
			}
			// @media(max-width:1440px){
			// 	width:c(24, 1440);
			// }
		}
	}
}
.ImageDiv{
	height:con(287);
	border-radius:con(7);
	background-color:#F0F0F0;
	@media(max-width:1600px){
		height:c(287, 1600);
		border-radius:c(7, 1600);
	}
	&::after{
		content:"";
		position:absolute;
		width:100%;
		height:100%;
		top:0%;
		left:0%;
		background:linear-gradient(179.9deg, rgba(59, 154, 218, 0) 50%, #FFECD7 118.88%);
		z-index:20;
	}
	// @media(max-width:1440px){
	// 	height:c(287, 1440);
	// 	border-radius:c(7, 1440);
	// }
	.ImagesDiv{
		padding:0px con(18) con(18) con(18);
		z-index:21;
		@media(max-width:1600px){
			padding:0px c(18, 1600) c(18, 1600) c(18, 1600);
		}
	}
	.SmallImageDiv{
		width:con(47);
		height:con(47);
		border-radius:con(7);
		// background:linear-gradient(180deg, #000000 -42%, rgba(255, 255, 255, 0) 100%);
		margin-left:con(20);
		@media(max-width:1600px){
			width:c(47, 1600);
			height:c(47, 1600);
			border-radius:c(7, 1600);
			margin-left:c(20, 1600);
		}
		.Gradient{
			background:linear-gradient(180deg, #000000 -42%, rgba(255, 255, 255, 0) 100%);
		}
		.RemoveDiv{
			width:con(47);
			height:con(47);
			border-radius:con(7);
			@media(max-width:1600px){
				width:c(47, 1600);
				height:c(47, 1600);
				border-radius:c(7, 1600);
			}
			img{
				width:con(13);
				top:con(2);
				right:con(3);
				@media(max-width:1600px){
					width:c(13, 1600);
					top:c(2, 1600);
					right:c(3, 1600);
				}
			}
		}
	}
	.AddImageDiv{
		width:con(47);
		height:con(47);
		background-color:$blue;
		border-radius:con(7);
		@media(max-width:1600px){
			width:c(47, 1600);
			height:c(47, 1600);
			border-radius:c(7, 1600);
		}
		input{
			display:none;
		}
	}
}
.DetailsDiv{
	padding:con(20) 0px con(9) 0px;
	@media(max-width:1600px){
		padding:c(20, 1600) 0px c(9, 1600) 0px;
	}
	// @media(max-width:1440px){
	// 	padding:c(20, 1440) 0px c(9, 1440) 0px;
	// }
}
.InputDiv{
	width:con(120.83);
	height:con(35);
	padding:0px con(9);
	border:1px solid rgba(106, 123, 134, 0.2);
	@media(max-width:1600px){
		width:c(120.83, 1600);
		height:c(35, 1600);
		padding:0px c(9, 1600);
		border:c(1, 1600) solid rgba(106, 123, 134, 0.2);
	}
	// @media(max-width:1440px){
	// 	width:c(119, 1440);
	// 	height:c(32, 1440);
	// 	padding:0px c(9, 1440);
	// }
	input{
		margin-left:con(6);
		font-weight:500;
		font-size:con(15);
		width:100%;
		@media(max-width:1600px){
			margin-left:c(6, 1600);
			font-size:c(15, 1600);
		}
		// @media(max-width:1440px){
		// 	margin-left:c(6, 1440);
		// 	font-size:c(15, 1440);
		// }
		&::-webkit-outer-spin-button, &::-webkit-inner-spin-button{
			-webkit-appearance:none;
		}
	}
	p{
		font-size:con(15);
		@media(max-width:1600px){
			font-size:c(15, 1600);
		}
		// @media(max-width:1440px){
		// 	font-size:c(15, 1440);
		// }
	}
}
.To{
	width:con(32);
	font-size:con(16);
	@media(max-width:1600px){
		width:c(32, 1600);
		font-size:c(16, 1600);
	}
	// @media(max-width:1440px){
	// 	width:c(32, 1440);
	// 	font-size:c(16, 1440);
	// }
}
.Select{
	width:con(76.56);
	height:con(35);
	padding:0px con(14);
	border:con(1) solid rgba(106, 123, 134, 0.2);
	border-left:none;
	font-size:con(15.31);
	line-height:con(16.84);
	-webkit-appearance:none;
	background-image:url('/dashboard/images/icons/down-arrow-grey.svg');
	background-size:con(10) auto;
	background-position:90% center;
	background-repeat:no-repeat;
	color:$grey;
	@media(max-width:1600px){
		width:c(76.56, 1600);
		height:c(35, 1600);
		padding:0px c(14, 1600);
		font-size:c(15.31, 1600);
		line-height:c(16.84, 1600);
		background-size:c(10, 1600);
	}
	// @media(max-width:1440px){
	// 	width:c(76, 1440);
	// 	height:c(32, 1440);
	// 	padding:0px c(14, 1440);
	// 	font-size:c(15, 1440);
	// }
}
.ProductSelectDiv{
	margin-top:con(16);
	@media(max-width:1600px){
		margin-top:c(16, 1600);
	}
	// @media(max-width:1440px){
	// 	margin-top:c(16, 1440);
	// }
	.ProductSelect{
		outline:none;
		width:100%;
		height:con(33);
		padding:0px con(14);
		border:1px solid rgba(106, 123, 134, 0.2);
		border-radius:con(7);
		font-size:con(13.4);
		line-height:con(14.74);
		font-weight:500;
		-webkit-appearance:none;
		background-image:url('/dashboard/images/icons/down-arrow-grey.svg');
		background-size:10px auto;
		background-position:95% center;
		background-repeat:no-repeat;
		transition:all 0.2s linear;
		color:$black;
		@media(max-width:1600px){
			height:c(33, 1600);
			padding:0px c(14, 1600);
			border-radius:c(7, 1600);
			font-size:c(13.4, 1600);
			line-height:c(14.74, 1600);
		}
		// @media(max-width:1440px){
		// 	height:c(33, 1440);
		// 	pasdding:0px c(14, 1440);
		// 	border-radius:c(7, 1440);
		// 	font-size:c(13, 1440);
		// }
		&:focus{
			border:1px solid $blue;
			box-shadow:0px 0px 5px rgba(59, 154, 218, 0.5);
		}
	}
}
.TagsDiv{
	margin-top:con(21);
	@media(max-width:1600px){
		margin-top:c(21, 1600);
	}
	// @media(max-width:1440px){
	// 	margin-top:c(21, 1440);
	// }
	.PlusDiv{
		width:con(29);
		height:con(29);
		border-radius:50%;
		border:1px solid $grey;
		@media(max-width:1600px){
			width:c(29, 1600);
			height:c(29, 1600);
		}
		// @media(max-width:1440px){
		// 	width:c(29, 1440);
		// 	height:c(29, 1440);
		// }
		img{
			width:con(9);
			@media(max-width:1600px){
				width:c(9, 1600);
			}
			// @media(max-width:1440px){
			// 	width:c(9, 1440);
			// }
		}
	}
	.TagsButton{
		height:con(35);
		padding:0px con(6) 0px con(20);
		// border:1px solid rgba(106, 123, 134, 0.2);
		border-radius:con(44);
		margin-bottom:con(9);
		margin-left:con(8);
		background-color:$light_blue;
		@media(max-width:1600px){
			height:c(35, 1600);
			padding:0px c(6, 1600) 0px c(20, 1600);
			margin-bottom:c(9, 1600);
			margin-left:c(8, 1600);
		}
		// @media(max-width:1440px){
		// 	height:c(28, 1440);
		// 	padding:0px c(10, 1440) 0px c(10, 1440);
		// 	margin-bottom:c(9, 1440);
		// 	margin-left:c(8, 1440);
		// }
		p{
			margin-right:con(5);
			font-size:con(14);
			color:$blue;
			@media(max-width:1600px){
				margin-right:c(5, 1600);
				font-size:c(14, 1600);
			}
			// @media(max-width:1440px){
			// 	margin-right:c(5, 1440);
			// 	font-size:c(13, 1440);
			// }
		}
		img{
			width:con(26);
			@media(max-width:1600px){
				width:c(26, 1600);
			}
			// @media(max-width:1440px){
			// 	width:c(8, 1440);
			// }
		}
	}
	.ActiveTag{
		background-color:$light_blue;
		border:1px solid $blue;
		p{
			color:$blue;
		}
	}
}
.ProductDetailedScoreDiv{
	width:con(178);
	background-color:rgba(128, 128, 128, 0.9);
	border-radius:con(10);
	padding:con(6) con(10);
	z-index:99;
	.ScoreDiv{
		p{
			color:white;
			font-size:con(14);
			line-height:con(23.8);
			font-weight:500;
			font{
				color:#6FCF97;
			}
		}
	}
}